/* Card tampilan utama */
.custom-card {
  border: 0;
  border-radius: 0;
  padding: 1em;
  color: #fff;
  box-shadow: 5px 5px 10px #e1e1e1;
  border-bottom-right-radius: 4em;
  border-top-left-radius: 4em;
  background: linear-gradient(to left, #5c768d 50%, #26282b 50%);
  background-size: 200%;
  background-position: right;
  transition: 0.5s;
  text-align: center;
  min-width: 100%;
}

.custom-card:hover {
  background-position: left;
}

.card-icon {
  font-size: 3em;
}

.animate-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}