body {
  font-family: 'Segoe UI', sans-serif;
}

.animated-heading {
  animation: fadeInDown 1s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

/* btn-custom {
  background-color: #5c768d;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
} */

.btn-custom {
  background-color: #5c768d;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
} 

/* .btn-custom:hover {
  background-color: #26282b;
  color: white;
  text-decoration: none;
} */ */

.btn-custom:hover {
  background-color: #26282b;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #004cb3; /* Warna biru Bootstrap */
  border-radius: 50%;
  border: 2px solid #ffffff; /* Warna putih */
  color: #ffffff;
  z-index: 9999; /* Supaya selalu di atas */
  display: none; /* Disembunyikan dulu, tampil saat scroll */
  transition: opacity 0.3s ease-in-out;
}

.back-to-top i {
  font-size: 1.5rem;
}

.back-to-top:hover {
  background-color: #ffffff; /* Warna biru gelap saat hover */
  color: #26282b; 
}

.back-to-top.show {
  display: flex;
}
